{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="row flex-row">
    <div class="col-md-6 offset-md-3">
        <h1 style="margin-top: 40px; margin-bottom: 40px; font-size: 48px; text-align: left">
            About this database
        </h1>

        <p style="font-size: 18px">
            Eighteenth-century Europe numbered literally hundreds of publisher-booksellers, yet only a
            handful of their business archives have been preserved. Among the extant archives, one of
            the most complete is that of the Leiden-based Luchtmans firm, that ranked among the largest
            publisher-booksellers in Europe, and covering the years 1683-1848. Comprising eleven
            meters of archival material in the Amsterdam University library, it is the most comprehensive
            source for the history of the Dutch book trade in the long eighteenth century. The documents
            in the archive shed light on various aspects of the book trade, including books published,
            authors with whom the firm collaborated, business correspondence, and financial
            transactions. The most striking material is however made up of the private client books,
            documenting circa 285,500 transactions (sales of a title involving Luchtmans and another
            identifiable private client on a given date) in the Dutch Republic, across an estimated 5,000 to
            6,000 private accounts.
        </p>

        <p>
            These private client books can be used to explore community formation among the private
            clients of the Luchtmans firm, in a diachronic, comparative perspective. Behind every
            individual client, there emerge (family) networks of readers, interpretive communities, and
            patterns of book acquisition. This research will demonstrate how the data on Luchtmans
            private clients can help us trace changes in book acquisition patterns over an extended
            period, viewing these within a multi-generational framework, whereby different, overlapping
            networks can be offset, such as households, kinship networks, and professional and religious
            communities.
        </p>

        <p>
            Civic fictions addresses the questions of how, if at all, fiction contributes towards citizens’
            moral education by carrying out a series of longitudinal, prosopographic studies of readers
            and their books during the Age of Revolution (c. 1760 – 1830). Empirically testing various
            modern theories about fiction’s supposed ability to foster empathy, work through trauma, and
            build community, it integrates insights and methodologies from literary theory, history and
            bibliography.
        </p>

        <h2>How to use database</h2>

        <p>
            The database is currently under construction and will remain so for some time.
        </p>
    </div>
</div>

{% endblock %}

{% block extrajs %}
{% endblock %}