<!DOCTYPE html>

{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load i18n %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luchtmans</title>
    {% block extracss %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/luchtmans.css' %}">
</head>
<body>

{% with url_name=request.resolver_match.url_name %}
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Luchtmans</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="http://www.ru.nl/" target="_blank">
                  <img src="{% static 'img/ru.png' %}" alt="Radboud University" style="height: 40px">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'about' %}active{% endif %}" aria-current="page" href="{% url 'about' %}">{% trans "About" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'persons' or url_name == 'person_detail' %}active{% endif %}" aria-current="page" href="{% url 'persons' %}">{% trans "Persons" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'collections' or url_name == 'collection_detail' %}active{% endif %}" aria-current="page" href="{% url 'collections' %}">{% trans "Collections" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'editions' or url_name == 'edition_detail' %}active{% endif %}" aria-current="page" href="{% url 'editions' %}">{% trans "Editions" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'works' or url_name == 'work_detail' %}active{% endif %}" aria-current="page" href="{% url 'works' %}">{% trans "Works" %}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endwith %}

{% block content %}(no content){% endblock %}

{% block extrajs %}{% endblock %}
</body>
</html>