{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load render_table from django_tables2 %}
{% load formatting %}

{% block extracss %}
{% endblock %}

{% block content %}

<div class="container-xl">
<div class="row">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="float-end">
                        {% if perms.luchtmans.collection_change %}
                            <a href="{% url 'admin:luchtmans_collection_change' object.pk %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% translate 'Change' %}">
                            <i class="bi bi-pencil"></i></a>
                        {% endif %}
                        {% if perms.luchtmans.collection_delete %}
                            <a class="delete-entry" href="{% url 'admin:luchtmans_collection_delete' object.pk %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% translate 'Delete' %}">
                                <i class="bi bi-trash"></i>
                            </a>
                        {% endif %}
                    </h3>
                    <h1 style="margin-top: 40px; margin-bottom: 40px; font-size: 48px; text-align: left">
                        Collection <i>{{ object }}</i>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    {% translate 'Client' %}
                                </th>
                                <td>
                                    <a href="{% url 'person_detail' object.client_id %}">{{ object.client }}</a>
                                    <span class="ms-2 text-secondary">{{ object.client.date_of_birth|str_to_date }} &ndash; {{ object.client.date_of_death|str_to_date }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {% translate 'Pages' %}
                                </th>
                                <td>
                                    {% for page in pages %}
                                        {{ page }} <span class="text-secondary">{{ page.first_year }} - {{ page.last_year }}</span>{% if not forloop.last %}<span class="ms-3"></span>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {% translate 'Notes' %}
                                </th>
                                <td>
                                    {{ object.notes }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3>{% translate 'Items' %}</h3>
            {% if item_table %}
                {% render_table item_table %}
            {% else %}
                <div>No items.</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
{% endblock %}